In [28]:
#find bonous or net salary
salary=int(input("enter empolyee salary="))
exp=int(input("enter experience="))           
if exp>5:
    bonous=salary*5/100
    total_salary=salary+bonous
    print(total_salary)
    print("bonous=",bonous)
else:
    print("no bonous")

enter empolyee salary=10000
enter experience=9
10500.0
bonous= 500.0

In [119]:
r=2
area=3.14*2*2
print(area)

12.56

In [123]:

#  degree
a=2
power=a**2
print(power)

4

In [12]:
#find total cost of item pay user
quantity=int(input("enter item quantity="))
cost_each=100
if quantity>10:
    total_cost=quantity*cost_each
    discount=total_cost*10/100
    pay_cost=total_cost-discount
    print("total cost=",total_cost)
    print("discount=",discount)
    print("pay cost=",pay_cost)
else:
    print("no discount")

enter item quantity=12
total cost= 1200
discount= 120.0
pay cost= 1080.0

In [15]:
#print percentage
per=int(input("enter percentage= "))
if per>80:
    print("A")
elif per>60 and per<80:
    print("B")
elif per>50 and per<60:
    print("C")
elif per>45 and per<50:
    print("D")
elif per>25 and per<45:
    print("D")
elif per<25:
    print("E")

enter percentage= 78
B

In [118]:
a=8
b=7
print(a*b)

56

In [1]:
x=int(input("enter the first number" ))
y=int(input("enter the second number"))
z=x+y
print("the sum of two number",z)

enter the first number23
enter the second number4
the sum of two number 27

In [6]:
x=int(input("enter the math number is "))
y=int(input("enter the english number is "))
z=int(input("enter the hindi number is "))
avg=(x+y+z)/300*100
print("the avg of all number is ",avg)

enter the math number is 45
enter the english number is 50
enter the hindi number is 50
the avg of all number is  48.333333333333336

In [8]:
x=int(input("enter the number "))
if(x%2==0):
    print("number is prime")
else:
    print("number is odd")

enter the number 5
number is odd

In [19]:
x=int(input("enter the number of x"))
y=int(input("enter the number of y"))
z=int(input("enter the number of z"))
if x>y and x>z:
    print(" x is greater")
else:
    if y>x and y>z:
                  print("y is greater")
    else:
        if z>x and z>y:
                      print("z is greater ")
        else:
            print("invalid entery")

enter the number of x45
enter the number of y49
enter the number of z87
z is greater

In [ ]:
per=int(input("enter the number of total marks"))
if per>80:
    print("topper")
if per>60 and per<80:
    print("first")
if per>50 and per<60:
    print("second")
if per>40 and per<50:
    print("third")
if per<40:
    print("fail")

In [10]:
x=int(input("enter the length"))
y=int(input("enter the bredth"))
side=int(input("enter the side of square"))
if(x==y):
    area=side**2
    print("it is square =",area)
else:
    area=x*y
    print("it is rectangle = ",area)

enter the length3
enter the bredth3
enter the side of square3
it is square = 9

In [115]:
print("hello world")

hello world

In [117]:
print("hello")

hello

In [124]:
i=1
while (i<11):
    print(i*4)
    i=i+1

4
8
12
16
20
24
28
32
36
40

In [45]:
a=15
b="25"
print(type(a))
b=int(b)
print(type(b))
print("the sum of two number  is ",a+b)

<class 'int'>
<class 'int'>
the sum of two number  is  40

In [58]:
a="Hello"
print(a[0])
print(a[1])
print(a[2:5])

H
e
llo

In [59]:
a="   HELLO   "     
print(a)
print(a.strip()) 
# strip remove all the space

   HELLO
HELLO

In [9]:
# a= "helo0"
# print(a)
# print(len)
lst=[61,3,3,4,6,41]
print(lst)
var=lst
var=len(lst) 
# var=lst[1:4]
print(var)

[61, 3, 3, 4, 6, 41]
6

In [69]:
a="HELLO"
print(a)
print("\n")
print(a.lower())

HELLO


hello

In [71]:
a="hello"
print(a)
print("\n")
print(a.upper())

hello


HELLO

In [74]:
a="hello"
print(a)
print(a.replace("ello","i"))

hello
hi

In [75]:
a="shivam"
b="bhai"
print(a+b)
# add two string

shivambhai

In [84]:
a="Demo"
b="Format"
print("this is the {} string",format(a))
print("this is the {0} string",format(b))
print("this is the {1} string",format(a))

this is the {} string Demo
this is the {0} string Format
this is the {1} string Demo

In [78]:
a=="Demo"
b="Format"
print(f"this is a {a} of {b} string")

this is a Demo of Format string

In [94]:
lst =[8,9,4,5,2]
print(lst)
print(type(lst))

print(lst[0])
print(lst[1])
print(lst[4])
print(lst[:2])

[8, 9, 4, 5, 2]
<class 'list'>
8
9
2
[8, 9]

In [98]:
lst =[2,5,7,9,3,6]
print(lst)
print(type(lst))
lst.append(8)
# add number in a last
print(lst)

[2, 5, 7, 9, 3, 6]
<class 'list'>
[2, 5, 7, 9, 3, 6, 8]

In [103]:
lst=[2,3,4,5,6,7]
print(lst)
print(type(lst))
lst.insert(3,1)
# adding the number with help of index aand place it
print(lst)

[2, 3, 4, 5, 6, 7]
<class 'list'>
[2, 3, 4, 1, 5, 6, 7]

In [105]:
lst=[1,2,3,4,5,6]
print(lst)
lst.remove(5)
# remove the element in the list
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 6]

In [107]:
lst=[1,2,3,4,5,7,9]
print(lst)
lst.pop()
# remove only last element in the list
print(lst)

[1, 2, 3, 4, 5, 7, 9]
[1, 2, 3, 4, 5, 7]

In [109]:
lst=[1,2,3,4,5]
print(lst)
del lst[1]
# delte the indexx of a list
print(lst)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [114]:
lst=[2,3,1,4,5,]
print(lst)
lst.clear()
# clear all the elements of a number
print(lst)

[2, 3, 1, 4, 5]
[]

In [ ]:
n=int(input("number of terms"))
if(n%2==0):
    print(number even)
else:
    if(n%2!)