In [1]:
# wap  to make a classs of simpilified airthmetic operation and tr to get the output of that class through 
# the object .

# wap to make a class of car and find its actual price ,if the car is of  more than 10 lakh then there is a tax of 14%
# on the car and if the cost of car is less the 10 lkh there is some discount of 7.8% on the car . find the actual
# price of the paid by the user

In [13]:
class  arith:
    a=12
    b=6
    sum=a+b
    print(sum)
    sub=a-b
    print(sub)
    mul=a*b
    print(mul)
    div=a/b
    print(div)
    mod=a%b
    print(mod)

c=arith()
c.sum()
c.sub()
c.mul()
c.div()
c.mod()

18
6
72
2.0
0

TypeError: 'int' object is not callable

In [14]:
class airth:
    def function(self ,a,b):
        add=a+b
        sub=a-b
        mul=a*b
        div=a/b
        
        print(add,sub,mul,div)
a=airth()
a.function(4,2)

6 2 8 2.0

In [15]:
class airth:
    def function(self):
        a=int(input("enter the number"))
        b=int(input("enter the number"))
        add=a+b
        sub=a-b
        mul=a*b
        div=a/b
        
        print(add,sub,mul,div)
a=airth()
a.function()

enter the number4
enter the number8
12 -4 32 0.5

In [20]:
class car:
    def function(self,price ):
        
        if(price>1000000):
            
            print("14% tax")
        else:
            
            print("discount")
c=car()
c.function(500000)

discount

In [32]:
class car:
    def function (self,price):
        
        if(price >1000000):
            tax=(price*14)/100
            tprice=price+tax
            print("actual price with tax =",tprice)
            
        else:
            if(price<100000):
                dis=(price*7.8)/100
                tprice=price-dis
                print("discount on actual  price = ",tprice)
c=car()
c.function(500)

discount on actual  price =  461.0

In [30]:
# a=[56,78,34,90,23]
# find the maximum number with the help of function

# class max:
a=[56,78,34,90,23]
def function(a):
    max=a[0]
    for i in a:
        if i>max:
            max=i
            print("max number ",max)
function(a)

max number  78
max number  90

In [31]:
a=[56,78,34,90,23]
a.sort()
a

[23, 34, 56, 78, 90]

In [32]:
a[-2]

78