In [5]:
tup=('demo','hello',54 ,'gys')
print(tup)
print(type(tup))

tup=list(tup)
tup[3]=99
print(tup)

('demo', 'hello', 54, 'gys')
<class 'tuple'>
['demo', 'hello', 54, 99]

In [7]:
# add the number of a list in the set
set={1,2,4,5,6}
print(set)
print(type(set))
set.add(45)
print(set)

{1, 2, 4, 5, 6}
<class 'set'>
{1, 2, 4, 5, 6, 45}

In [11]:
set={1,2,3,4,5,1,2,3}
print(set)
set.update([5,6,99,109,199])
print(set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 199, 99, 109}

In [13]:
set={3,4,5,6}
print(set)
set.pop()
print(set)

{3, 4, 5, 6}
{4, 5, 6}

In [21]:
set={1,2,3,4,5}
print(set)

set.clear()
print(set)

{1, 2, 3, 4, 5}
set()

In [29]:
set={1,2,3,4,5,6}
print(set)
del set[3]
print(set)

{1, 2, 3, 4, 5, 6}

TypeError: 'set' object doesn't support item deletion

In [63]:
lst=[1,2,3,4,5]
# a="   SHIVAM "
# a=["shivam","shrma","shin","sdfh"]
# print(a)
# v=a
# v=len(a)
# print(v)
#  print(lst)
# lst.append(2)
# lst.remove(2)
# lst.clear()
# del lst[2]
# lst.pop()
# lst.insert(3,9)
# print(lst[2:5])
# print(a.replace("sh","shii"))
# print(a.strip())
# print("\n")
# print(a.lower())
# print(a.upper())
# print(len)
# print(a)
# print(lst)

['shivam', 'shrma', 'shin', 'sdfh']
4

In [64]:
i=1
z=2
while(i<11):
    t=i*z
    print(t)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [66]:
i=1
while(i<11):
    print(i*2)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [126]:
# n=int(input("enter the number"))
x=[78,88,76,97,33]
ev=0
odd=0
for i in x:
    
    if(i%2==0):
        
        print("number is even",i)
        ev=ev+1
    
    else:
        odd=odd+1
        print("number is odd",i)
print(" all odd number",odd)
print(" all even number",ev)

number is even 78
number is even 88
number is even 76
number is odd 97
number is odd 33
 all odd number 2
 all even number 3

In [72]:
n=52
if(52%2==0):
    print("even")
else:
    if(52%2!=0):
        print("odd")

even

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
x=[233,45,'hello bhai','python']
print(x)

[233, 45, 'hello bhai', 'python']

In [78]:
x[-1]='sql'

In [79]:
x

[233, 45, 'hello bhai', 'sql']

In [80]:
x[2]='shivam'

In [81]:
x

[233, 45, 'shivam', 'sql']

In [82]:
x[-1][-1]

'l'

In [83]:
x

[233, 45, 'shivam', 'sql']

In [91]:
# x[1:3]=[0]
x[1:3]=[55,'shi']

In [92]:
x

[233, 55, 'shi']

In [86]:
x

[233, 0, 'sql']

In [93]:
a=[-33,99,-34,70,-67]
a.sort()

In [94]:
a

[-67, -34, -33, 70, 99]

In [99]:
a=[-34,78,9,39,100]
# a.sort()
# print(a)
a.reverse()
print(a)

[100, 39, 9, 78, -34]

In [106]:
a=[23,4,98,-45,78]
a.sort(reverse=True)

In [107]:
a

[98, 78, 23, 4, -45]

In [110]:
x=[1,2,3,4,'hello']
x[::-1]

['hello', 3, 1]

In [117]:
x=[34,45,90,23,78]
x[0],x[-1]=x[-1],x[0]
print(x)

[78, 45, 90, 23, 34]

In [118]:
x=[555,78,76,222,5555,-89]
max=x[0]
for i in x:
    if i>max:
        max=i
        print("ggreatest number",max)

ggreatest number 5555

In [141]:
a=[34,45,89,56]
b=[67,89,23,56]

for i in a:
    for j in b:
        if i==j:
            print("matching number",i)
#             print(i)
#             print("matching number")
    else:
          if i!=j:
                print("not match",i)

not match 34
not match 45
matching number 89
not match 89
matching number 56

In [142]:
a=[3,4,5,6,7]
b=[99,88,77,65]
c=a+b
print(c)
for

[3, 4, 5, 6, 7, 99, 88, 77, 65]